.alpha {
    color: #fa130238;

}

/*li 1개 적용*/

a:hover {
    color: #f0044e;

}

img {
    width: 400px;
    height: 500px;
   

}

img:hover {
    transform: scale(0.7);
    transition: 1s, 1s;
    

}

div{
    width: 100px;
    height: 100px;
    background-color: skyblue;
    border: 3px solid #1b2ba7;
    display: inline-block;
    
}

.dd{ background-color: violet;

}