body {
    background: linear-gradient(
      50deg,
      yellowgreen,
      skyblue,
      violet,
      rgb(54, 54, 165)
    );
  }

  input,button {
    border-width: 1px;
    border-color: black;
    border-style: solid;
    padding: 20px;
    margin: 45px;
    font-size: 20px;
  }

  button {
    border: 1px solid black;
    background: -webkit-linear-gradient(45deg, black, white);
    margin-left: 52px;
    width: 250px;
    height: 70px;
    font-size: 50px;
    padding-top: 3px;
    padding-left: 20px;
  }

  button:hover {
    background: -webkit-linear-gradient(45deg, white, black);
    border-color: magenta;
    box-shadow: 0 0.5em 0.5rem -0.4em magenta;
    transform: translateY(-0.25em);
    transition: 0.3s;
    cursor: pointer;
    
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
  }
