body {
    background: linear-gradient(
      50deg,
      yellowgreen,
      skyblue,
      violet,
      rgb(54, 54, 165)
    );
  }

  input {
    border-width: 3px;
    border-color: black;
    border-style: solid;
    padding: 20px;
    margin: 45px;
    font-size: 20px;
  }

  .j {
    border-width: solid;
    background: -webkit-linear-gradient(45deg, black, white);
    margin-left: 52px;
    width: 250px;
    height: 70px;
    font-size: 50px;
    padding-top: 3px;
    padding-left: 20px;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
  }